.navigation{display: flex; gap: 50px;}
.image{width: 220px;
border-radius: 48%;
height: 220px;}
.logoandtext{display: flex;}
h1{background-color: aquamarine;
width: 2000px;}
.hey{color:blue;
}
.project{color: blue;}
.software{color: blue;}
.works{display: flex;
}
.pic{width: 300px;}
.pick{width: 300px;}
.footer{margin: 30px;}
.button{background-color: blue;
color: white;
padding: 8px 12px;
border-radius: 5px;
cursor: pointer;}
.screenshot{background-color: rgb(179, 179, 171);width: 200px;}
.cvcontainer{
    background-color: aliceblue; 
    max-width: 900px;
    margin: auto;
    padding: 40px;

}
.reference{
background-color: gray;
width: 200px;
padding: 15px;
border-radius: 8px;

}
